*.aux 
*.bbl
*.dvi
*~
.#*
src/*/#.*#
binaries/dos-*
binaries/linux-*
binaries/win32-*
/DATE
src/c/doc.ps
src/c/doc.aux
src/c/*.aux
contrib/*/*/*.aux
src/c/*.o
/src/c/markup.ps
/nwsrcfilter
/src/icon/autodefs.*
/src/icon/disambiguate
/src/icon/docs2comments
/src/icon/elide
/src/icon/htmltoc
/src/icon/l2h
/src/icon/noidx
/src/icon/noindex
/src/icon/pdcached
/src/icon/pipedocs
/src/icon/sl2h
/src/icon/tohtml
/src/icon/totex
/src/icon/xchunks
/src/c/nwmktemp
/noweb
